{% extends "layouts/normal.jinja" %}

{% block content %}
  <h1>更新文章</h1>
  <form  x-init="title = $refs.title.dataset.title" method="POST" action="{{ url_for('post.update', id=post.id) }}">
    <section class="flex flex-col gap-4">
      <div>
        <label class="block text-sm mb-1">標題</label>
        <input x-ref="title" data-title="{{ post.title }}" x-model="title" type="text" placeholder="請輸入文章標題" class="w-full border border-black text-lg px-2 py-1" name="title" value="{{ post.title }}" />
      </div>

      <div>
        <label class="block text-sm mb-1">內文</label>
        <textarea name="content" rows="8" class="w-full border border-black px-2 py-1 text-lg" placeholder="文章內文">{{ post.content}}</textarea>
      </div>

      <div>
        <button :disabled="title == ''" class="disabled:bg-gray-300 bg-yellow-400 p-2 hover:bg-yellow-300">更新文章</button>
      </div>
    </section>
  </form>
{% endblock %}
