{% extends "layouts/normal.jinja" %}

{% block content %}
  <h1>新增文章</h1>
  <form method="POST" action="/posts">
    {{ form.csrf_token }}
    <section class="flex flex-col gap-4">
      <div>
        {{ form.title.label }}
        {{ form.title }}
      </div>

      <div>
        {{ form.content.label }}
        {{ form.content }}
      </div>

      <div>
        <button :disabled="title == ''" class="disabled:bg-gray-300 bg-yellow-400 p-2 hover:bg-yellow-300">新增文章</button>
      </div>
    </section>
  </form>
{% endblock %}
