{% extends "layouts/normal.jinja" %}

{% block content %}
  <h1 class="text-3xl my-2">{{ post.title }}</h1>
  <a href="{{ url_for('post.edit', id=post.id) }}" class="bg-yellow-400 px-4 py-2 rounded text-lg">編輯</a>
  <a href="" class="bg-red-400 px-4 py-2 rounded text-lg">刪除</a>

  <article class="my-2">
    {{ post.content|replace('\n', '<br />') }}
  </article>
{% endblock %}
