<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Flask{% endblock %}</title>
    <script defer src="/static/scripts/alpine.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include 'shared/navbar.jinja' %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <section x-data x-ref="flash" class="items-center flex justify-between text-lg bg-yellow-400 px-6 py-2">
          <p>
          {% for message in messages %}
             {{ message }}
          {% endfor %}
          </p>
          <button @click="$refs.flash.remove()" class="bg-yellow-200 p-0.5 w-10 rounded">
            X
          </button>
        </section>
      {% endif %}
    {% endwith %}

    <main class="my-4 mx-4 sm:mx-12">
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
