<nav class="py-2 px-6 shadow-sm">
  <ul class="flex gap-4">
    <li><a href="{{ url_for('page.home') }}">首頁</a></li>
    <li><a href="{{ url_for('post.index') }}">文章列表</a></li>
    <li><a href="{{ url_for('page.about') }}">關於我們</a></li>
  </ul>
</nav>
